alias l='ls -AGXhl --group-directories-first --color=auto'
alias suedit='sudo nvim -u ~/.config/nvim/init-compat'
alias dotfiles='git --git-dir="$HOME/.dotfiles" --work-tree="$HOME"'
alias lazydotfiles='lazygit -g "$HOME/.dotfiles" -w "$HOME"'

alias gst='git status'
alias gdf='git diff'
alias gdfn='git diff --name-only'
alias gcom='git commit -m'
alias gcoa='git commit --amend'
alias gadd='git add'
alias gaddp='git add -p'
alias grm='git remove --cached'
alias gsw='git switch'
alias gsta='git stash'
alias gstap='git stash pop --index'
alias gstac='git stash clear'
alias gstas='git stash show'
alias glog='git log'
alias gpush='git push'
alias gpushf='git push --force-with-lease'
alias gpull='git pull'

alias flati='flatpak install'
alias flatr='flatpak remove --delete-data'
alias flatu='flatpak update'
alias flats='flatpak search'

alias paci='sudo pacman -S'
alias pacr='sudo pacman -Rsn'
alias pacu='sudo pacman -Syu'
alias pacs='pacman -Ss'
alias pacsi='pacman -Si'
alias pacq='pacman -Q'
alias pacql='pacman -Ql'

alias update='pacu && flatu'
