alias l='ls -AGXhl --group-directories-first --color=auto'
alias suedit='sudo nvim -u ~/.config/nvim/init-compat'
alias dotfiles='git --git-dir="$HOME/.dotfiles" --work-tree="$HOME"'
alias lazydotfiles='lazygit -g "$HOME/.dotfiles" -w "$HOME"'

alias gst='git status'
alias gcom='git commit -m'
alias gadd='git add'
alias grm='git remove --cached'
alias glog='git log'
alias gpush='git push'
alias gpull='git pull'

alias flati='flatpak install'
alias flatr='flatpak remove --delete-data'
alias flatu='flatpak update'
alias flats='flatpak search'

alias paci='sudo pacman -S'
alias pacr='sudo pacman -Rsn'
alias pacu='sudo pacman -Syu'
alias pacs='pacman -Ss'

alias update='pacu && flatu'
