[Desktop Action PrivateBrowsing]
Exec=firefox --private-window %u
Name[en_US]=New Private Window
Name=New Private Browsing Window

[Desktop Action ProfileManager]
Exec=firefox --ProfileManager
Name=Profile Manager

[Desktop Action new-window]
Exec=firefox --new-window %u
Name[en_US]=New Window
Name=New Window

[Desktop Entry]
Actions=new-window;PrivateBrowsing;ProfileManager
Categories=Network;WebBrowser;GTK;
Comment=Browse the Web
Encoding=UTF-8
Exec=firefox --private-window %u
GenericName=Web Browser
Icon=firefox
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;application/x-xpinstall;x-scheme-handler/http;x-scheme-handler/https;
Name=Firefox
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=firefox
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
